@model List<StellerPortfolio.Models.TblSocialMedias>

<div class="socials mt-4">

    @foreach (var item in Model)
    {
        <a class="social-item" href="@item.LinkUrl" target="_blank"><i class="@item.Icon"></i></a>
    }

</div>