@model StellerPortfolio.Models.TblMessage

<div class="form">
    <h6 class="subtitle">Available 24/7</h6>
    <h6 class="section-title mb-4">Get In Touch</h6>
    <form>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ad Soyad" required>
        </div>
        <div class="form-group">
            <textarea name="contact-message" id="" cols="30" rows="5" class="form-control" placeholder="Mesaj"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block rounded w-lg">Mesaj Gönder</button>
    </form>
</div>