
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenekler Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Yetenek Adı</th>
        <th>Yetenek Yüzdesi</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Yeteneklerim</td>
        <td>Lorem Ipsum</td>
        <td>SQL</td>
        <td>95</td>
        <td>
            <a href="#" class="btn btn-danger">Delete</a>
            <a href="#" class="btn btn-info">Update</a>
        </td>
    </tr>
</table>