
@{
    ViewBag.Title = "AddSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    /* Siyah kenarlıklar için CSS */
    form input[type="text"] {
        border: 1px solid black;
    }
</style>

<h3>Sosyal Medya Ekleme Sayfası</h3>

</br>

<form method="post">
    <label>Sosyal Medya Adı</label>
    <input type="text" name="SocialMediaName" class="form-control">

    <label>Icon</label>
    <input type="text" name="Icon" class="form-control">

    <label>LinkUrl</label>
    <input type="text" name="LinkUrl" class="form-control">

    </br>
    <button type="submit" class="btn btn-success">Ekle</button>
</form>





