
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sosyal Medya Sayfası</h2>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Sosyal Medya Adı</th>
        <th>Icon Url</th>
        <th>Link Url</th>
    </tr>

    <tr>
        <td>1</td>
        <td>İnstagram</td>
        <td><img src="" / height="50px" width="50px" alt="Instagram Icon"></td>
        <td><a href="https://www.instagram.com/walikalender/">https://www.instagram.com/walikalender/</a></td>
        <td>
            <a href="#" class="btn btn-danger">Delete</a>
            <a href="#" class="btn btn-info">Update</a>
        </td>
    </tr>
</table>