
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Mesaj Sayfası</h2>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Eposta</th>
        <th>Ad Soyad</th>
        <th>Mesaj İçeriği</th>
    </tr>

    <tr>
        <td>1</td>
        <td>walikalender@gmail.com</td>
        <td>Muhammed Ali KALENDER</td>
        <td>Lorem Ipsum</td>
        <td>
            <a href="#" class="btn btn-danger">Delete</a>
            <a href="#" class="btn btn-info">Update</a>
        </td>
    </tr>

</table>