@model List<StellerPortfolio.Models.TblMessage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Mesaj Sayfası</h2>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Eposta</th>
        <th>Ad Soyad</th>
        <th>Mesaj İçeriği</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MessageID</td>
            <td>@item.Email</td>
            <td>@item.NameSurname</td>
            <td>@item.MessageContent</td>
            <td>
                <a href="/Message/DeleteMessage/@item.MessageID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>