@model StellerPortfolio.Models.TblMessage
@{
    ViewBag.Title = "MessageDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h3 class="mt-4 mb-3">Mesaj Detayları</h3>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="w-25">Gönderen Ad Soyad:</th>
                            <td>@Model.NameSurname</td>
                        </tr>
                        <tr>
                            <th>Gönderen Email:</th>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <th>Mesaj İçeriği:</th>
                            <td>@Model.MessageContent</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
