
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmetler Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hizmet Adı</th>
        <th>Icon Url</th>
        <th>Hizmet Durumu</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Github</td>
        <td><img src="https://t3.ftcdn.net/jpg/03/28/19/46/360_F_328194664_RKSHvMLgHphnD1nwQYb4QKcNeEApJmqa.jpg" / height="50px" width="50px"></td>
        <td>Aktif</td>
        <td>
            <a href="#" class="btn btn-danger">Delete</a>
            <a href="#" class="btn btn-info">Update</a>
        </td>
    </tr>
</table>