
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    /* Siyah kenarlıklar için CSS */
    form input[type="text"] {
        border: 1px solid black;
    }
</style>

<h3>Referans Ekleme Sayfası</h3>

<br />

<form method="post">
    <label>Ad</label>
    <input type="text" name="FirstName" class="form-control">

    <label>Soyad</label>
    <input type="text" name="LastName" class="form-control">

    <label>Meslek</label>
    <input type="text" name="Job" class="form-control">

    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control">

    <label>Resim Url</label>
    <input type="text" name="ImageUrl" class="form-control">

    <br />
    <button type="submit" class="btn btn-success">Ekle</button>
</form>

