
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Referanslar Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Açıklama</th>
        <th>Meslek</th>
        <th>Resim</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Muhammed Ali</td>
        <td>KALENDER</td>
        <td>Lorem Ipsum</td>
        <td>UI/UX Tasarımcısı</td>
        <td><img src="https://t3.ftcdn.net/jpg/03/28/19/46/360_F_328194664_RKSHvMLgHphnD1nwQYb4QKcNeEApJmqa.jpg" / height="50px" width="50px"></td>
        <td>
            <a href="#" class="btn btn-danger">Delete</a>
            <a href="#" class="btn btn-info">Update</a>
        </td>
    </tr>
</table>