
@{
    ViewBag.Title = "AddContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    /* Siyah kenarlıklar için CSS */
    form input[type="text"] {
        border: 1px solid black;
    }
</style>

<h3>Yeni Hakkımızda Ekleme Sayfası</h3>

</br>

<form method="post">
    <label>Adres</label>
    <input type="text" name="Address" class="form-control">

    <label>Eposta</label>
    <input type="text" name="Email" class="form-control">

    <label>Telefon</label>
    <input type="text" name="Phone" class="form-control">

    <label>Harita Url</label>
    <input type="text" name="MapUrl" class="form-control">
    </br>
    <button type="submit" class="btn btn-success">Ekle</button>
</form>


