
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Adres</th>
        <th>Telefon</th>
        <th>Eposta</th>
        <th>Harita Url</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Osmaniye Merkez</td>
        <td>(555) 555 55 55</td>
        <td>walikalender@gmail.com</td>
        <td>Maps Url</td>
        <td>
            <a class="btn btn-danger">Delete</a>
            <a class="btn btn-info">Update</a>
        </td>
    </tr>

</table>


